button{
    height: 3rem;
    width: 7rem;
    background: #141414;
    border: 1px solid #930000;
    color: antiquewhite;
    box-shadow: 4px 4px #930000;
}

button:hover{
    background: #930000;
}

button:active{
    background: #141414;
    box-shadow: 0px 0px #930000;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

img{

    border: 5px solid #141414;
    border-radius: 10px;
    height: 30rem;
    width: 48rem;
    box-shadow: 4px 4px black;

}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #1B1717;
    min-height: 100vh;
}

.imagenHerido{
    filter: sepia(100%);   
}